.portfolio-section-photos /*section class photos projet de robbie lens, 
les photos d'accueil ont été rattaché à portfolio-section-photos car la classe accueil-photos
ne s'appliquait plus sur le site.*/ {
  background-color: white;
  padding: 80px;
  margin: auto; 
}

.portfolio-section-photos h2 {
  color: #242424;
  text-align: center;
  margin-bottom: 80px; ;
}

.portfolio-section-photos div /* disposition photos de robbie lens*/ {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
  margin: auto; 
  margin-bottom: 15px;
}

.accueil-introduction /* présentation de robbie lens*/{
  display: flex;
  flex-direction: row;
  max-width: 1000px;
  align-items: flex-start;
  margin: auto;
}

.accueil-introduction h1 {
  margin-bottom: 15px;
}

.accueil-introduction p {
  margin-bottom: 30px;
}

.accueil-introduction div /*photo de présentation robbie lens*/{
  padding-right: 20px;
}

h2 {
  text-align: center; 
  color: #a5b4fc;
  margin-top: 20px; 
}

.section-contact {
  border: none; 
  margin-bottom: 40px;
  color:white; 
  margin: 5px; 
}

h2 {
  margin-bottom: 30px; 
}

form {
  display: flex; 
  flex-direction: column;  
  max-width: 1000%; 
  margin: auto; 
}

.form-nom-email {
  display: flex; 
  flex-direction: row; 
  gap: 20px; 
}

.form-column {
flex: 1; 
display: flex; 
flex-direction: column; 
margin-bottom: 20px; 
}

input, 
textarea {
  padding: 10px; 
  border-radius: 3px; 
  border: none; 
}

label {
  margin-bottom: 10px; 
}

input [type='submit'] {
  width: 200px; 
  margin: auto; 
  margin-top: 30px; 
}

.cta-bouton {
  display: inline-block;
  background: linear-gradient(#8e86b5, #acaeed);
  color: white;
  border-radius: 50px;
  padding: 20px 30px;
  margin-bottom: 70px; 
  width: 25%; 
  margin: auto; 
  margin-top: 30px;
}

@media screen and (max-width: 996px) {
  .accueil-introduction{
    display: flex; 
    flex-direction: column ; 
    align-items: center;  
    justify-content: center; 
  }


.accueil-introduction div {
  padding-right: 0; 
  text-align: center; 
  order: 2; 
}

.accueil-introduction img {
  order: 1; 
  margin-bottom: 20px; 
  width: 100%; 
}

.portfolio-section-photos {
  padding: 40px; ; 
}

.portfolio-section-photos div {
  flex-direction: column; 
}

.section-contact {
  padding: 50px 20px;
}

.form-nom-email {
  flex-direction: column; 
  gap: 0; 
}

.cta-bouton {
  padding: 20px 20px; 
  width: 50%; 
}
}

